@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: "Poppins", sans-serif;
  scroll-padding-top: 96px;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}

.logo{
  width: 80px;
  border-radius: 38px;
}

.navlink{
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-weight: 400;
  background-color: #f6f0e6 ;
}

header a:hover {
  font-weight: 1000;
  }

.navlink li, a{
  display: inline-block;
  padding: 0px 30px;
  color: black;
}

header button{
  font-size: 20px;
  padding: 9px 25px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 38px;
}

header button:hover{
  background-color: #D0D3D4;
}

