
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.stats{
	flex: 1;
	width: 40%;
	/* align-items: center; */
	text-align: center;
	display: flex;
	flex-direction: column;
}
.player img{
	width: 50%;
}
.player{
	height: 300px;
}
table{
	width: 100%;
}

@media (max-width: 860px) {
	.container{
		flex-direction: column;
	}
	.stats{
		width: 100%;
	}
	.player{
		height: 100%;
	}
	.player img{
		width: 100%;
	}
}